/* header style  */
.header
{
    display:flex;  
    height: 85px;
    justify-content: space-between;
    align-items: center;
    padding:0px 30px;
    border:2px solid black;
}
#header_logo 
{
    height: 31px;
    width: 98px;
  
}
#header_logo img
{
    height: 100%;
    width: 100%;
    
}
/* header-menu is defined here and starts from here  */
#header__menu 
{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
   
}
#header__right-widget
{
    display: flex;
 
}
#header__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  #header__menu li {
    list-style: none;
    margin-right: 20px; 
  }
  .active-nav {  
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color:   orangered;
    font-weight: 500;
    font-family: Montserrat ;
    padding: 4px;
  }
  .unactive-nav {
  color: gray; /* Example style */
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #111111;
    font-weight: 500;
    font-family: Montserrat ;
   padding-bottom: 4px;  
  }
.active-nav:hover , .unactive-nav:hover
{
   border-bottom: 2px solid orange;
}
/* header-menu is defined here and end  here  */
/* header-widget is defined here and starts from here  */
#header__right-widget
{
   
    width:160px;
    display: flex;
    justify-content: space-between;
    
}
#login-button button
{
    padding:7px 12px;
    border:none;
    outline: none;
    background-color: black;
    border-radius: 6px;
    box-shadow: 3px 3px 8px rgba(0,0,0,.3);
}
#login-button button:active
{
    box-shadow: 0px 5px 2px rgba(251, 250, 250, 0.4);
    scale: .8;
}
#login-button button a
{
    font-size: 15px;
    color:  white;
    font-weight: 500;
    font-family: Montserrat ;
    text-decoration: none;
    letter-spacing: .5px;
    word-spacing: 1px; 
}
.cart-img
{
   height:28px;
   position: relative;  
}
.cart-img img
{
    height: 100%;
    width: 100%;  
}
.cart-img:active
{
    scale: .7;
}
#card-tip
{
    height: 18px;
    width:18px;
    border-radius: 100%;
    font-family:Montserrat ;
    text-align:center;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top:-12px;
    left:3px;
    color:orangered;
}
#side-bar img
{
    height:28px;
    display: none;
    position: relative;
}
.second-header-menu-items
{
    height: 100vh;
    width: 250px;
    background-color: white    ;
    box-shadow: 10px 10px 10px rgba(0,0,0,.1);
    border-radius: 6px;
    position: absolute;
    left: 0;
    top:0px;
    overflow: hidden;
    

}
#header_menu_sidebar li 
{
    list-style: none;
    padding:15px 45px;
}
#side-bar-Header
{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 15px;
}
#logo-slider img
{
  width:90px;

}
#cross-slider img
{
    width:25px;
}

/* header-widget is defined here and ends  here  */
/* 
media query  */
@media (min-width: 768px) and (max-width: 1024px) {
    .header
    {
        padding:0px 10px;
    }
    #header__right-widget
    {
       
        width:120px;
        
    }
    #header__menu 
    {
        display: flex;
        width: 400px;
        justify-content: space-evenly;
        
     }
    #header__menu li 
    {
        list-style: none;
        margin-right: 0px; 
       
    }
 .active-nav , .unactive-nav
    {
        font-size: 14px;
    }
#header_logo
      {
        height: 28px;
        width: 82px;
       }
       #login-button button
       {
           padding:6px 10px;
       }
       #login-button button a
       {
           font-size: 14px;
       }
       .cart-img
       {
        height:25px;
       }
  }
  /* media query for mobiles
   */
   @media (min-width: 300px) and (max-width: 768px) 
   {
    #header__menu 
    {
        display: none;
    }
    #login-button
    {
        display: none;

    }
    .cart-img
    {
        display: none ;
    }
    #header__right-widget
    {
       
        width:auto;
        
    }
    #side-bar img
    {
        display: block;
    }

    
   }